/* stylesheet.css
 *
 * Copyright 2018 Christopher Davis <brainblasted@disroot.org>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.mobile button.text-button.radio {
  padding-left: 0px;
  padding-right: 0px;
  min-width: 84px;
}

.post-input {
  background-color: @theme_base_color;
  border-radius: 3px;
  border: 1px solid @borders;
  padding: 6px;
}

.post-input:focus-within {
  border: 2px solid @theme_selected_bg_color;
  padding: 5px;
}

.post-input > scrolledwindow {
  border: 0px;
}

.post-user-label {
  font-size: 10pt;
}

actionbar.bottombar > revealer > box {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bottombar {
  min-height: 48px;
  font-size: small;
}

:checked.bottom-switcher > box > label {
  font-weight: bold;
}

.bottom-switcher {
  border-top-width: 0px;
  border-radius: 0px;
  border-bottom-width: 0px;
}

.top-switcher > button {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0;
  border-top-style: none;
  border-bottom-style: none;
  min-height: 38px;
}

.top-switcher > button:hover:not(:checked) {
  background-image: none;
}

/*
.top-switcher > button:checked {
  font-weight: bold;
}
*/

.post-widget-button {
  background-image: none;
  border-width: 0;
}

.post-widget-button:checked {
  color: @theme_selected_bg_color;
}

.post-widget-button:hover {
  color: @theme_selected_bg_color;
  box-shadow: none;
}

/*
 * Credit to Julian Sparber for this workaround:
 * https://gitlab.gnome.org/World/podcasts/commit/95c290df5038adfe53e47be35037a5da0c7866ac
 */

row {
  border-bottom: solid 1px rgba(0,0,0, 0.1);
}

row:last-child {
  border-bottom: none;
}

headerbar > button.needs-attention > image {
  animation: needs_attention 150ms ease-in;
  /* TODO: background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(#3584e4), to(transparent)), -gtk-gradient(radial, center center, 0, center center, 0.5, to(rgba(255, 255, 255, 0.769231)), to(transparent)); */
  background-size: 6px 6px, 6px 6px;
  background-repeat: no-repeat;
  background-position: 10px 4.8px;
}

.expand-button {
  color: @theme_selected_bg_color;
}

list {
  transition-property: all;
  transition-duration: 0.3s;
}

list.medium, list.large {
  border: 1px solid @borders;
  margin: 24px;
  border-radius: 18px;
}

list.medium > row:first-child, list.large > row:first-child {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

list.medium > row:last-child, list.large > row:last-child {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.cw-revealer:checked {
  background-image: none;
  border-width: 0;
}
